*.swp
*.consign
*.d
.sl64_gcc4*
*.root
*.pdf
*.png
*.gif
*.jpg
.sl64_gcc447
temp_gccflags.c
*.o
*.so
*.zip
*.package
*.session.xml
./plots/*
./analysisD_phenix_mine/*
./unfoldD_phenix_mine/*
./*/src/*
unfold_*/src/RooUnfoldResponse.h
./*/libRooUnfold.rootmap
./*/libRooUnfold.so
./*/load.C
unfold_phenix_D/src/RooUnfoldResponse.h
unfold_star_D/src/RooUnfoldResponse.h
